<div id="sound_show">
	<div id="show_banner">
	<h1>Find out your new fav sound.</h1>
	</div>



	<div id="sounds" class="cf">
	<div class="wrapper">
		<ul class="cf">
			<% @sounds.each do |sound| %>
				<%= link_to sound do %>
					<li>
						<div class="sound_overview">
							<h2><%= sound.title %></h2>
							<p class="track_count"> Tracks Uploaded. </p>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>

		</div>
	</div>
</div>