<div id="sound_show">
	  <div id="show_banner">
	    <h1>Find out your new fav sound.</h1>
    </div>

<div id="sounds" class="cf">
	<div class="wrapper">
		<ul class="cf">
			<% @sounds.each do |sound| %>
				<%= link_to sounds_path do %>
					<li>
						<div class="sound_overview">
							<h2><%= sound.title %>Title</h2>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>
</div>