<div id="sound_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1><%= @sound.title %></h1>
			<p class="description"><%= @sound.description %></p>
	</div>

	<div id="breadcrumb">
		<%= link_to sounds_path do %>
			All Sounds
			<span>/</span>
			<%= @sound.title %>
		<% end %>
	</div>

</div>